<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order</title>

</head>
<body>
 < table style ="border: 1px soild black">

    <tr><td> billing_number</td><td>{{ order.billing_number }}</td></tr>
    <tr><td> customer</td><td>{{ order.customer }}</td></tr>
    <tr><td> price </td><td>{{ order.price }}</td></tr>
    <tr><td> purchase_date</td><td>{{ order.purchase_date }}</td></tr>
   <tr><td> company</td><td>{{ order.company }}</td></tr>
    <tr><td>serial_number</td><td>{{ order.serial_number }}</td></tr>
    <tr><td>mfg_date </td><td>{{ order.mfg_date }}</td></tr>
</body>
</html>